/* app css stylesheet */

.fm-intro-bkg {
  background-image: url(../img/intro_background.jpg);
  opacity: 0.4;
  height: 705px;
}


.fm-deliver-to {
  width: 400px;
}


.fm-filter {
  border: 1px solid black;

  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;

  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;

  background-color: grey;
  padding-left: 10px;
  margin-bottom: 10px;
}

.fm-filter form {
  background-color: #fff;

  margin-left: -10px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding: 5px 10px 10px;
}


.fm-restaurant-list {
  border: 1px solid black;

  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;

  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;

  background-color: grey;
  margin-bottom: 10px;
}

.fm-restaurant-list > * {
  padding-left: 10px;
}

.fm-restaurant-list table {
  background-color: #fff;
  margin-bottom: 0px;
}


.fm-static {
  border: 1px solid black;

  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;

  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;

  background-color: grey;
}

.fm-static > * {
  padding-left: 10px;
}

.fm-static > div {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
}


.fm-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.fm-rating .fm-selected {
  color: #000000;
}

.fm-rating .fm-hover {
  text-shadow: white 0 0 2px,
  white 0 0 2px,
  white 0 0 2px,
  white 0 0 2px,
  blue 0 0 10px;
}
