/****************************************
 * general purpose css-only components  *
 ****************************************/

.fm-panel {
  border: 1px solid black;

  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;

  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;

  background-color: grey;

  margin-bottom: 20px;

  overflow: hidden;
}

.fm-panel > * {
  padding: 10px 10px 20px 10px;
  margin-left: 0px;
  margin-right: 0px;
  background: #fff;
}

.fm-panel *:last-child {
  margin-bottom: 0px;
}

.fm-panel > h4 {
  background-color: grey;
  padding-top: 0px;
  padding-bottom: 0px;
}

.fm-panel .container {
  width: 100%;
}

.fm-callout {
  width: 400px;
}

.fm-right {
  text-align: right;
}


/****************************************
 * angular components                   *
 ****************************************/

.fm-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

.fm-rating.pointer {
  cursor: pointer;
}

.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.fm-rating .fm-selected {
  color: #000000;
}

.fm-rating .fm-hover {
  text-shadow: white 0 0 2px,
  white 0 0 2px,
  white 0 0 2px,
  white 0 0 2px,
  blue 0 0 10px;
}


/****************************************
 * route specific css                   *
 ****************************************/


/* intro */

.fm-intro-bkg {
  background-image: url(../img/intro_background.jpg);
  opacity: 0.4;
  height: 705px;
}


/* restaurant list */

.fm-restaurant-list th:first-child {
  width: 500px;
}

.fm-restaurant-list th {
  width: 100px;
}


/* menu */

.fm-menu-list ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;

  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.fm-menu-list li,
.fm-panel li,
.fm-clear {
  clear: both;
}


/* checkout */

.fm-checkout table th:nth-child(2),
.fm-checkout table td:nth-child(2) {
  width: 100%;
  text-align: left;
}

.fm-checkout table td:nth-child(1) input {
  width: 30px;
}

.fm-checkout table th,
.fm-checkout table td {
  text-align: right;
}

.fm-checkout table tr:last-child th {
  text-align: right;
}

input.ng-invalid {
  border: 1px solid red;
}
