<div class="breadcrumb fm-deliver-to">
  <a href="#/">Back to the restaurant list</a>
</div>

<div class="container fm-restaurant">
  <h3>{{restaurant.name}}</h3>
  <div>{{restaurant.price | dollars}} / {{restaurant.rating | stars}}</div>
  <div>{{restaurant.address}}</div>

</div>

<div class="row-fluid">

  <div class="span9 fm-panel fm-menu-list">
    <h4>Menu</h4>

    <ul>
      <li ng-repeat="menuItem in restaurant.menuItems">
        <span>{{menuItem.name}}</span>
        <span class="pull-right">
          {{menuItem.price | currency}}
          <a href ng-click="cart.add(menuItem)"><i class="icon-plus-sign"></i></a>
        </span>
      </li>
    </ul>
  </div>

  <div class="span3 fm-panel">
    <h4>Your order</h4>
    <form>
      <ul class="unstyled">
        <li ng-repeat="item in cart.items">
          <a href ng-click="cart.remove(item)"><i class="icon-remove-sign"></i></a>
          {{item.name}}
        </li>
      </ul>
      <div class="pull-right" ng-show="cart.items.length">
        Total: {{cart.total() | currency}}
      </div>
      <div class="fm-clear">
        <a href="#/checkout" ng-disabled="!cart.items.length" class="btn">Checkout</a>
      </div>
    </form>
  </div>

</div>
