<div class="breadcrumb fm-deliver-to">
  <a href="#/">Back to the restaurant list</a>
</div>

<div class="row-fluid">

  <div class="span9 fm-restaurant-list">
    <h4>{{restaurant.name}}</h4>



    <table class="table table-hover">
      <tr>
        <th>Restaurant</th>
        <th></th>
        <th>Price</th>
        <th>Rating</th>
        <th>Hours</th>
      </tr>
      <tr ng-repeat="restaurant in restaurants">
        <td><img ng-src="img/restaurants/{{restaurant.id}}.png"></td>
        <td>
          <b><a href="#/menu/{{restaurant.id}}">{{restaurant.name}}</a></b>
          <div>{{restaurant.description}}</div>
        </td>
        <td>{{restaurant.price | dollars}}</td>
        <td>{{restaurant.rating | stars}}</td>
        <td>{{restaurant.open}}</td>
      </tr>
    </table>
  </div>

  <div class="span3 fm-order">
    <h4>Your order</h4>
    <form>
      <ul>
        <li>some</li>
        <li>stuff</li>
        <li>here</li>
        <li>now</li>
      </ul>
      <button >Checkout</button>
    </form>
  </div>

</div>
