<div class="breadcrumb fm-deliver-to">
  Deliver to: {{userInfo.address}}
  <a href="#/user-info" class="pull-right">Change</a>
</div>

<div class="row-fluid">

  <div class="span3 fm-filter">
    <h4>Filter Restaurants</h4>

    <form>

      <h5>Deliver</h5>

      <select class="span8">
        <option>Today</option>
        <option>Tomorrow</option>
      </select>


      <h5>Rating</h5>

      <fm-rating symbol="&#9733;" max="5" ng-model="$parent.filter.rating"></fm-rating>


      <h5>Price</h5>

      <fm-rating symbol="$" max="5" ng-model="$parent.filter.price"></fm-rating>


      <h5>Cuisine</h5>

      <div fm-checkbox-list ng-model="filter.cuisine">
        <label class="checkbox"><input type="checkbox" value="african"> American</label>
        <label class="checkbox"><input type="checkbox" value="american"> American</label>
        <label class="checkbox"><input type="checkbox" value="barbecue"> Barbecue</label>
        <label class="checkbox"><input type="checkbox" value="cafe"> Cafe</label>
        <label class="checkbox"><input type="checkbox" value="chinese"> Chinese</label>
        <label class="checkbox"><input type="checkbox" value="czech/slovak"> Czech/Slovak</label>
        <label class="checkbox"><input type="checkbox" value="german"> German</label>
        <label class="checkbox"><input type="checkbox" value="indian"> Indian</label>
        <label class="checkbox"><input type="checkbox" value="japanese"> Japanese</label>
        <label class="checkbox"><input type="checkbox" value="mexican"> Mexican</label>
        <label class="checkbox"><input type="checkbox" value="pizza"> Pizza</label>
        <label class="checkbox"><input type="checkbox" value="thai"> Thai</label>
        <label class="checkbox"><input type="checkbox" value="vegetarian"> Vegetarian</label>
      </div>
    </form>
  </div>

  <div class="span9 fm-restaurant-list">
    <h4>
      <ng-pluralize count="restaurants.length"
                    when="{'0'    : 'No restaurants found. :-(',
                           'one'  : '1 restaurant found!',
                           'other': '{} restaurants found!'}">
      </ng-pluralize>
    </h4>

    <table class="table table-hover">
      <tr>
        <th>Restaurant</th>
        <th></th>
        <th>Price</th>
        <th>Rating</th>
        <th>Hours</th>
      </tr>
      <tr ng-repeat="restaurant in restaurants">
        <td><img ng-src="img/restaurants/{{restaurant.id}}.png"></td>
        <td>
          <b><a href="#/restaurants/{{restaurant.id}}">{{restaurant.name}}</a></b>
          <div>{{restaurant.description}}</div>
        </td>
        <td>{{restaurant.price | dollars}}</td>
        <td>{{restaurant.rating | stars}}</td>
        <td>{{restaurant.open}}</td>
      </tr>
    </table>
  </div>
</div>
