<div class="row-fluid">

  <div class="span3 fm-panel">
    <h4>Filter Restaurants</h4>
  </div>

  <div class="span9 fm-panel fm-restaurant-list">
    <h4></h4>

    <table class="table table-hover table-striped">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>

      <tr ng-repeat="restaurant in restaurants">
        <td>
          <a href="#/menu/{{restaurant.id}}">
            <img ng-src="img/restaurants/{{restaurant.id}}.jpg" class="img-rounded pull-left">
            <b>{{restaurant.name}}</b>
          </a>
          <p>{{restaurant.description}}</p>
        </td>

        <td>{{restaurant.price}}</td>
        <td>{{restaurant.rating}}</td>
      </tr>
    </table>
  </div>
</div>
